<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/e0ada558cb.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-secondary-subtle sticky-top bg-body-tertiary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Banking System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transactions">Transactions</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Main Container -->
  <div class="container">
    <div class="mt-4 p-5 bg-light rounded shadow-sm">
      <h1>Welcome to Banking System</h1>
    </div>

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="my-2">
          <div class="card-body">
            <p class="card-text fs-5">Welcome to our advanced banking system, where we prioritize your financial needs
              and provide seamless banking services.
              With cutting-edge technology and a user-friendly interface, we offer a secure platform for all your
              banking
              transactions. From opening an account to managing investments, loans, and credit cards, we have you
              covered. Our
              experienced team of professionals is dedicated to delivering personalized assistance and expert advice to
              help you
              achieve your financial goals. We value transparency and adhere to strict security measures to safeguard
              your assets.
              Join us today and experience the convenience and reliability of our modern banking system. Your financial
              success starts
              here.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="my-2">
          <div class="card-body">
            <img class="w-100"
              src="https://freepngimg.com/save/165654-banking-pic-digital-png-image-high-quality/888x448" alt="bank">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Container -->

  <!-- Customer Section -->
  <div class="container">
    <div class="mt-4 p-5 bg-light rounded shadow-sm">
      <h2>Customers</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-striped text-center shadow-sm p-3 my-2 bg-body-tertiary rounded">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Current Balance</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i < Math.min(4, customersList.length); i++) { %>
            <tr>
              <td>
                <%= customersList[i].Name %>
              </td>
              <td>
                <%= customersList[i].Email %>
              </td>
              <td>
                <%= customersList[i].Current_Balance %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <a href="/customers" class="btn btn-primary mt-1 text-dark bg-success-subtle rounded shadow-lg border-0">
        View All Customers <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>



  <!-- Footer -->
  <footer class="footer mt-4 py-3" style="background-color: #f8f9fa">
    <div class="container text-center">
      <p>
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All Rights Reserved
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>